//<МИКСИНЫ>========================================================================
@import "mixins";
//</МИКСИНЫ>=======================================================================

//<ШРИФТЫ>=========================================================================

//<Подключаем шрифты>==============================================================
//&display=swap&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap&subset=cyrillic-ext");
@import "fonts";
//</Подключаем шрифты>=============================================================

//<Иконочный шрифты>===============================================================
// @import "icons";
//</Иконочные шрифты>==============================================================

//<Шрифт по умолчанию>=============================================================
$fontFamily: "Poppins";
//</Шрифт по умолчанию>============================================================

//</ШРИФТЫ>========================================================================

//<ПЕРЕМЕННЫЕ>=====================================================================
$minWidth: 320px;
$maxWidth: 1593;
$maxWidthContainer: 1153;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>====================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=====================================================
@import "null";
body {
	color: #000;
	font-size: 14px;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>====================================================

//<ОБОЛОЧКА>=======================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
//</ОБОЛОЧКА>=====================================================================

//<ОСНОВНАЯ СЕТКА>================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0px 10px;
}
//</ОСНОВНАЯ СЕТКА>================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>===========================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>==========================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>==================================
// @import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=================================

//<ОСНОВНОЙ БЛОК>==================================================================
.page {
	flex: 1 1 auto;
}
//=================================================================================
.trend {
	position: relative;
	margin-bottom: 111px;
	@media (max-width: 680px) {
		margin-bottom: 70px;
	}
	@media (max-width: 717px) {
		margin-bottom: 90px;
	}
	// .trend__body
	
	&__body {
	}
	
	// .trend__image
	
	&__image {
		margin: 0 auto;
		// height: 745px;
		// img {
			max-width: 1593px;
			// }
			img{
			// width: 100%;
		}
	}

	// .trend__content

	&__content {
		position: absolute;
		top: 49%;
		left: 56%;
		@media (max-width: 1180px) {
			top: 45%;
			left: 56%;
		}
		@media (max-width: 820px) {
			top: 44%;
			left: 54%;
		}
		@media (max-width: 625px) {
			top: 42%;
			left: 53%;
		}
		@media (max-width: 390px) {
			top: 34%;
			left: 50%;
			text-align: center;
		}
	}
	&__content_rev{
		position: absolute;
		top: 56%;
		left: 15%;
		@media (max-width: 1180px) {
			left: 15%;
		}
		@media (max-width: 820px) {
			left: 14%;
		}
		@media (max-width: 625px) {
			left: 13%;
		}
		@media (max-width: 390px) {
			top: 45%;
			left: 10%;
			text-align: center;
		}
	}

	// .trend__subtitle

	&__subtitle {
		text-transform: uppercase;

	}

	// .trend__title

	&__title {
		font-size: 80px;
		line-height: 120px;
		font-weight: 700;
		text-transform: uppercase;
		@media (max-width: 1390px) {
			font-size: 500%;
		line-height: 120%;
		}
		@media (max-width: 1100px) {
			font-size: calc(32px + 24 * (100vw / 1100));
			line-height: 120%;
		}
		@media (max-width: 820px) {
			font-size: calc(32px + 14 * (100vw / 1100));
		}
		@media (max-width: 625px) {
			font-size: calc(28px + 1 * (100vw / 1100));
		}

	}

	// .trend__text

	&__text, &__subtitle {
		font-size: 18px;
		line-height: 27px;
		font-weight: 500;
		@media (max-width: 1100px) {
			font-size: calc(13px + 1 * (100vw / 1100));
			line-height: 120%;
		}
	}
}
.ibg {
}
.trend-buttons {

	// .trend-buttons__item

	&__item {
	}
}


//</ОСНОВНОЙ БЛОК>=================================================================
.foto {
	margin-bottom: 111px;
	@media (max-width: 680px) {
		margin-bottom: 70px;
	}
	@media (max-width: 717px) {
		margin-bottom: 90px;
	}
	
	// .foto__row
		&__row {
		display: flex;
		justify-content: space-between;
		@media (max-width: 685px) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	
	// .foto__column
	&__column {
		// margin: 0 5px;
		// max-width: 551px;
		// width: 100%;
		position: relative;
		span {
			position: absolute;
			bottom: 30px;
			left: 30px;
			background-color: #fff;
			padding: 5px 15px;
			font-size: 18px;
			line-height: 27px;
			font-weight: 500;
			text-transform: uppercase;
		}
		@media (max-width: 1141px) {
			// max-width: 540px;
		}
		@media (max-width: 686px) {
			margin: 0 5px;
			:last-child {
				margin: 0;
			}
		}
	}
	&__column--l {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@media (max-width: 685px) {
			margin-bottom: 35px;
		}
		@media (max-width: 404px) {
			margin-bottom: 20px;
		}
	}
	
	// .foto__1
	
	&__1 {
		img {
			height: 288px;
			@media (max-width: 1130px) {
				height: 280px;
			}
			@media (max-width: 1105px) {
				height: 270px;
			}
			@media (max-width: 1070px) {
				height: 262px;
			}
			@media (max-width: 1035px) {
				height: 255px;
			}
			@media (max-width: 1005px) {
				height: 248px;
			}
			@media (max-width: 977px) {
				height: 238px;
			}
			@media (max-width: 940px) {
				height: 225px;
			}
			@media (max-width: 890px) {
				height: 215px;
			}
			@media (max-width: 850px) {
				height: 204px;
			}
			@media (max-width: 810px) {
				height: 191px;
			}
			@media (max-width: 760px) {
				height: 180px;
			}
			@media (max-width: 717px) {
				height: 170px;
			}
			@media (max-width: 685px) {
				height: 288px;
			}
			@media (max-width: 572px) {
				height: 238px;
			}
			@media (max-width: 475px) {
				height: 200px;
			}
			@media (max-width: 404px) {
				height: 156px;
			}
		}
		@media (max-width: 685px) {
			margin-bottom: 20px;
		}
		@media (max-width: 404px) {
			margin-bottom: 15px;
		}
	}
	
	// .foto__1.1
	
	&__1.1 {

	}
	
	// .foto__2
	
	&__2 {
		display: flex;
		justify-content: space-between;
		img {
			height: 266px;
			@media (max-width: 1130px) {
			height: 258px;
			}
			@media (max-width: 1105px) {
				height: 248px;
			}
			@media (max-width: 1070px) {
				height: 242px;
			}
			@media (max-width: 1035px) {
				height: 238px;
			}
			@media (max-width: 1005px) {
				height: 230px;
			}
			@media (max-width: 977px) {
				height: 220px;
			}
			@media (max-width: 940px) {
				height: 205px;
			}
			@media (max-width: 890px) {
				height: 198px;
			}
			@media (max-width: 850px) {
				height: 183px;
			}
			@media (max-width: 810px) {
				height: 172px;
			}
			@media (max-width: 760px) {
				height: 160px;
			}
			@media (max-width: 717px) {
				height: 150px;
			}
			@media (max-width: 685px) {
				height: 266px;
			}
			@media (max-width: 572px) {
				height: 220px;
			}
			@media (max-width: 475px) {
				height: 180px;
			}
			@media (max-width: 404px) {
				height: 143px;
			}
		}
		
	}
	
	// .foto__2.1
	
	&__2.1 {
		
	}
	
	// .foto__2.2
	
	&__2.2 {
		
	}
	// .foto__3
	&__3 {
		img {
			height: 573px;
			@media (max-width: 1130px) {
				height: 560px;
			}
			@media (max-width: 1105px) {
				height: 545px;
			}
			@media (max-width: 1070px) {
				height: 525px;
			}
			@media (max-width: 1035px) {
				height: 510px;
			}
			@media (max-width: 1005px) {
				height: 495px;
			}
			@media (max-width: 977px) {
				height: 475px;
			}
			@media (max-width: 940px) {
				height: 450px;
			}
			@media (max-width: 890px) {
				height: 430px;
			}
			@media (max-width: 850px) {
				height: 410px;
			}
			@media (max-width: 810px) {
				height: 385px;
			}
			@media (max-width: 760px) {
				height: 360px;
			}
			@media (max-width: 717px) {
				height: 340px;
			}
			@media (max-width: 685px) {
				height: 573px;
			}
			@media (max-width: 572px) {
				height: 470px;
			}
			@media (max-width: 475px) {
				height: 400px;
			}
			@media (max-width: 404px) {
				height: 310px;
			}
		}
	}

}

//</ОСНОВНОЙ БЛОК>=================================================================
.fashion {
	margin-bottom: 111px;
	@media (max-width: 680px) {
		margin-bottom: 70px;
	}
	@media (max-width: 717px) {
		margin-bottom: 90px;
	}
	// .fashion__content

	&__content {
		height: 68px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 65px;
	}

	// .fashion__title

	&__title {
		font-size: 20px;
		line-height: 30px;
		font-weight: 700;
		text-transform: uppercase;
		color: #22262A;
	}

	// .fashion__text

	&__text {
		font-size: 15px;
		line-height: 22.5px;
		font-weight: 400;
	}
	// .fashion__items

	&__items {

	}
}
.items {
	
	// .items__row

	&__row {
		display: flex;
		justify-content: space-between;
	}

	// .items__column

	&__column {
		height: 484px;
		max-width: 268px;
		display: flex;
		flex-direction: column;
	}

	// .items__foto

	&__foto {
		display: flex;
		flex: 1 1 100%;
	}

	// .items__content

	&__content {
		height: 75px;
		max-width: 225px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	// .items__title
	.items__title, .items__text, .items__pris, .items__pris--red {
		font-size: 15px;
		line-height: 22.5px;
	}
	&__title {
		font-weight: 300;
		text-transform: uppercase;
	}

	// .items__text

	&__text {
		font-weight: 600;
		text-transform: uppercase;
	}

	// .items__prise

	&__prise {
		display: flex;
	}

	&__pris {
		font-weight: 400;
		margin-right: 40px;
		text-decoration: line-through;
	}
	&__pris--red {
		font-weight: 400;
		color: red;
	}
}

//</ОСНОВНОЙ БЛОК>=================================================================
.avone {
	margin-bottom: 111px;
	@media (max-width: 680px) {
		margin-bottom: 70px;
	}
	@media (max-width: 717px) {
		margin-bottom: 90px;
	}
	// .avone__content

	&__content {
	}

	// .avone__title

	&__title {
	}

	// .avone__text

	&__text {
	}

	// .avone__row

	&__row {
		display: flex;
		justify-content: space-between;
	}

	// .avone__column

	&__column {
		max-width: 552px;
		width: 100%;
		position: relative;
	}
	
	// .avone__image
	
	&__image {
		height: 689px;
		display: flex;
		align-items:flex-end;
	}
	
	// .avone__images
	
	&__images {
		margin-right: 38px;
	}

	// .avone__box
	&__box {
	
	}
}

.box {
	
	span {
		color: #22262A;
		position: absolute;
		left: 124px;
		bottom: 30px;
		&:after{
			content:"";
			position: absolute;
			width: 168px;
			bottom: -3px;
			height: 1px;
			left: 0;
			background-color: #000;
		}
	}
	// .box__images
	&__images {
		height: 303px;
		width: 252px;
		position: absolute;
		right: 0;
		bottom: 0;
		background-color: #fff;
	}
}
.box__images {
	display: flex;
	align-items:flex-end;
	justify-content: flex-end;
	height: 303px;
	max-width: 252px;
	
	img {
		position: absolute;
		right: 0;
		bottom: 0;
	}
}
//</ОСНОВНОЙ БЛОК>=================================================================

//</ОСНОВНОЙ БЛОК>=================================================================
